<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<ul>
		<% data.forEach(function (item) { %>
			<li>
				<%= item %>
			</li>
		<% });%>
	</ul>
	<a href="/create">add</a>
</body>
</html>