node_modules/
/java/MIREA/Kursovaya_3sem-Zaven/build/
/java/MIREA/Kursovaya_3sem-Zaven/nbproject/private/
/java/MIREA/Kursovaya_3_sem/nbproject/private/
/java/MIREA/Kursovaya_3_sem/build/
/java/MIREA/Kursovayz_3-sem/nbproject/private/
/java/MIREA/Kursovayz_3-sem/build/
/java/MIREA/Kursovayz_3-sem/dist/
/java/MIREA/practiva_2/nbproject/private/
/java/MIREA/practiva_2/build/
/java/MIREA/practice3/build/
/java/MIREA/practice3/nbproject/private/