<div class="main-menu__wrap_dark">
	<menu class="main__menu container">
		<li class="main-menu__element"><a class="main-menu__link" href="http://localhost:3000/">Главная</a></li>
		<li class="main-menu__element"><a class="main-menu__link" href="http://localhost:3000/news">Акции</a></li>
		<li class="main-menu__element"><a class="main-menu__link" href="http://localhost:3000/salons">Салоны</a></li>
		<li class="main-menu__element"><a class="main-menu__link" href="http://localhost:3000/catalog">Каталог</a></li>
		<li class="main-menu__element"><a class="main-menu__link" href="#">Услуги и Цены</a></li>
		<li class="main-menu__element"><a class="main-menu__link" href="#">Разное</a></li>
	</menu>
</div>