<div class="menu__wrap_light">
	<ul class="main__menu container">
		<li class="main-menu__element"><a href="#" class="main-menu__link">Новинки</a></li>
		<li class="main-menu__element"><a href="#" class="main-menu__link">Кольца</a></li>
		<li class="main-menu__element"><a href="#" class="main-menu__link">Серьги</a></li>
		<li class="main-menu__element"><a href="#" class="main-menu__link">Подвески</a></li>
		<li class="main-menu__element"><a href="#" class="main-menu__link">Шармы</a></li>
		<li class="main-menu__element"><a href="#" class="main-menu__link">Цепочки</a></li>
		<li class="main-menu__element"><a href="#" class="main-menu__link">Браслеты</a></li>	
	</ul>
</div>







