html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html {}
body {
	height: 100%;
	font: 13px/16px Arial, Tahoma, sans-serif;
	color: #646363;
	background: #E1E1E1 url(../images/main_bg.png) repeat top left;
}
ol, ul { list-style: none; }
* {
	margin: 0;
	outline: none;
	padding: 0;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

a, a:hover { color: #646363; text-decoration: none; }


.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after { clear: both; }

.left { float:left; }
.right { float:right; }

/************************ ОБЩИЕ СТИЛИ ************************/

.wrapper {
	width: 950px;
	margin: 0 auto;
}
.first_line {
	height: 35px;
	line-height: 35px;
	margin: 33px 0 28px 33px;
	/*background: #ccc;*/
}
.logo {
	float: left;
	margin: 3px 38px 0 0;
}
.h_title { float: left; }

.h_title a {
	font: 15px 'MinionPro regular', times;
	color:#666666;
}
.h_title a:hover { color: #DE004E; }
/* форма поиска */
.first_line form {
	height: 33px;
	width: 253px;
	float: right;
	position: relative;

	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
		-ms-border-radius: 15px;
		 -o-border-radius: 15px;
			border-radius: 15px;

}
.search_line {
	width: 100%;
	height: 100%;
	border: none;
	padding: 5px 0 0 35px;
	background: #EDEDED;
	border-radius: 15px;
	font: italic 11px verdana;
	color: #7D7D7D;
	
	border-bottom: 1px solid #fff;
	box-shadow: inset 0px 2px 2px 1px rgb(198,198,198);
}
#findIt {
	position: absolute;
	top: 0px;
	left: 0;
	border: none;
	background: url(../images/scope.png) no-repeat 11px center;
	width: 30px;
	height: 33px;
	cursor: pointer;

	-webkit-border-radius: 15px 0 0 15px;
	   -moz-border-radius: 15px;
		-ms-border-radius: 15px;
		 -o-border-radius: 15px;
			border-radius: 15px 0 0 15px;
}
#findIt:hover { background: url(../images/scope_h.png) no-repeat 11px center; }

.menu { height: 35px; }

.menu li {
	float: left;
	margin-left: 32px;
	font: italic 12px verdana;
}
.menu li a {
	padding: 6px 3px;
	border-radius: 7px;
}
.menu li a:hover {
	color: #DE004E;
	background: #fff url(../images/triangle.png) center 25px no-repeat;
	border-radius: 7px;
}
.menu li:first-child { margin-left: 14px; }

/********* КОНТЕНТ *********/
.content {
	width: 100%;
	background: #fff;
	padding: 30px 18px 30px 30px;
	overflow: hidden;
	box-shadow: 0 -1px 10px 0px rgb(198,198,198);


	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
		-ms-border-radius: 15px;
		 -o-border-radius: 15px;
			border-radius: 15px;
}

.slider {
	width: 520px;
	height: 284px;
	background: #000;
	float: left;
	text-align: center;
	position: relative;

	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
		-ms-border-radius: 10px;
		 -o-border-radius: 10px;
			border-radius: 10px;
}
.slider img {}

.info {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 86px;
	width: 100%;
	background: rgba(0,0,0,.3);
	text-align: left;
	padding: 20px 0 0 23px;
	color: #FBE9ED;

	-webkit-border-radius: 0 0 10px 10px;
	   -moz-border-radius: 0 0 10px 10px;
		-ms-border-radius: 0 0 10px 10px;
		 -o-border-radius: 0 0 10px 10px;
			border-radius: 0 0 10px 10px;
}

.title_bt {
	padding: 5px 8px;
	background: #DE004E;
	color: #FBE9ED;

	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
		-ms-border-radius: 15px;
		 -o-border-radius: 15px;
			border-radius: 15px;
}
.title_bt:hover { color: #fff; }
.info h2 {
	margin-top: 12px;
	font: 18pt bold verdana;
}

/* НОВОСТИ */
.recent_news {
	width: 350px;
	overflow: hidden;
	float: right;
}
.recent_news h3 {
	font: 18px verdana;
	padding-left: 45px;
	color: #7A7A7A;
	background: url(../images/newspaper.png) no-repeat left 0;
	margin-bottom: 13px;	
}

/*новость*/
.new { 
	width: 350px;
	overflow: hidden; 
}

.new img { 
	margin-right: 20px;
	border: 5px solid #DCDCDC;
	border-radius: 5px;
	width: 56px;
	height: 56px;
}

.new div {  
	padding: 10px 9px 16px 0;
	border-bottom: 1px dashed #D7D7D7;
}
.new:last-child div { border: none; }
.new p {
	color: #000;
	margin-bottom: 5px;
}
.new span { color: #DE004E; }


/* все новости */
.news {
	overflow: hidden;
	border-top: 1px solid #EBEBEB;
	border-bottom: 1px solid #EBEBEB;
	height: 344px;
	margin-top: 22px;
	margin-right: 12px;
}
.item {
	width: 283px;
	height: 100%;
	padding: 23px 30px 0 0;
	/*background: #ccc;*/
}
.item:first-child {	border-right: 1px solid #EBEBEB; }

.item:nth-child(2) {
	width: 295px;
	padding: 23px 0 0 30px;
}
.item:last-child { padding: 23px 0 0 15px; }

.item h2 {
	font: bold 13pt verdana;
	margin: 15px 0 10px 0;
	/*color: #555555;*/
}

.item p { margin: 10px 0; }

.read_all {
	font-style: italic;
	color: #DE004E;
	margin-top: 10px;
	float: left;
}
.read_all:hover { color: #FF0000; }

/* ПОСЛЕДНИИ КОММЕНТАРИИ*/
.last_coments, .archives {
	border-right: 1px solid #EBEBEB;
	border-bottom: 1px solid #EBEBEB;
	width: 283px;
	padding-bottom: 30px;
}

.last_coments h3, .archives h3,
.last_fotos h3, .last_videos h3 {
	margin: 18px 0 15px;
	height: 28px;
	padding-left: 43px;
	background: url(../images/comment_ico.png) no-repeat left 1px;
	font: 18px verdana;
	color: #7A7A7A;
}
.comment {
	overflow: hidden;
	margin-bottom: 5px;
}
.comment:last-child { margin-bottom: 0; }

.comment img {
	margin: 3px 22px 0 0;
	max-height: 20px;
	max-width: 20px;
}
.comment div { width: 240px; }
.com-date {
	color: #DE004E;
	font-size: 11px;
}
.name { color: #000;}


.archives {
	overflow: hidden;
	border-bottom: none;
	padding-bottom: 0;
}
.archives h3 { background: url(../images/folder_ico.png) no-repeat; }
.archives ul {
	margin-bottom: 17px;
	overflow: hidden;
}
.archives ul li {
	float: left;
	width: 50%;
	margin-top: 16px;
}
.archives ul li:nth-child(1),
.archives ul li:nth-child(2) { margin: 0; }

.archives li a { color: #6E6E6E; }
.archives li a:hover { color: #DE004E; }

#show_archives {
	color: #DE004E;
	margin-top: 20px; 
}


/*right_column*/
.right_column {
	width: 560px;
	float: left;
	margin-left: 35px;
}
.last_fotos img {
	width: 160px;
	height: 100px;
	border: 5px solid #E3E3E3;
	border-radius: 5px;
}
.last_fotos img:nth-child(2) { margin: 0 37px; }
.fotopad {
	margin-top: 25px;
	overflow: hidden;
}
/*last_fotos*/
.last_fotos h3 { background: url(../images/camera_ico.png) no-repeat; }
.last_videos h3 { background: url(../images/video_ico.png) no-repeat; }

.l_video {
	border: 5px solid #E3E3E3;
	overflow: hidden;
	height: 100px;
	width: 160px;
	border-radius: 5px;
	position: relative;
}

.l_video:nth-child(2) { margin: 0 37px; }

.l_video img {
	width: 100%;
	height: 100%;
}
.watch_video {
	position: absolute;
	top: 25.5px;
	left: 53.5px;
	background: url(../images/video_ico_3.png) no-repeat;
	width: 53px;
	height: 49px;
}

.footer {
	margin: 23px 0;
	overflow: hidden;
}

.footer span { color: #DE004E; }

.footer div a {
	width: 24px;
	height: 24px;
	display: inline-block;
}
.footer div.left { margin-left: 10px; }
.footer div.right { margin-right: 10px; }

#netw {
	background: url(../images/netw.png) no-repeat;
	margin-right: 3px;
}
#twit { background: url(../images/twit.png) no-repeat; }