html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html { height: 100%; }
body {
	height: 100%;
	font: 13px/16px Arial, Tahoma, sans-serif;
	background: #fff;
}
ol, ul, li { list-style: none; }
* {
	margin: 0;
	outline: none;
	padding: 0;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

a 		{ color: $textWhite; text-decoration: none; }
a:hover { color: #fff; text-decoration: underline;}


.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after { clear: both; }

.left { float:left; }
.right { float:right; }

input { -webkit-appearance: none; }

/*ресеты*/

.container {
	width: 960px;
	margin: 0 auto;
	display: block;
}

header {
	background: #325863 url('../images/bg.png') no-repeat center center;
	-webkit-background-size: cover;
	background-size: cover;
	color: #fff;
	padding: 15px 0 65px;
}

.header__top {
	display: block;
	overflow: hidden;
}

.header__logo {
	float: left;
}
.header__menu {
	float: right;
	padding: 15px 0 0 0;
}
.list-menu__element {
	float: left;
	display: block;
	margin-right: 15px;
}


.list-menu__link {
	color: #cce2ed;
	padding: 8px 15px;
	display: block;
}

.list-menu__link:hover {
	text-decoration: none;
	color: #fff;
}

.light-btn {
	border: 1px solid #cce2ed;
	box-sizing: border-box;
	padding: 8px 30px;
	border-radius: 3px;
	font-size: 1.2em;
}

.light-btn:hover {
	background: #25454f;
}

.header__info {
	margin-top: 60px;
	text-align: justify;
}

.header__title {
	padding-right: 40%;
	font-size: 1.3vw;
	line-height: 1.7vw;
	font-weight: normal;
	text-align: justify;
	margin-bottom: 15px;
}
.header__title span {
	font-weight: bold;
}



/* ****** БЛОИКИ С ИКОНКАМИ ****** */
.header-icons__blocks {
	display: block;
	width: 100%;
	overflow: hidden;
}
.icons-block__element {
	padding: 25px 15px 0;
	float: left;
	margin-right: 30px;
	display: block;
	text-align: center;
}

.icons-block__element:first-child {
	padding-left: 0;
}

.header-ico {
	display: block;
	margin: 0 auto 10px;
	width: 50px;
	height: 50px;
}
.prom {
	background: url('../images/test.png') no-repeat center center;
}








/* ****** БЛОК ОПЫТА ****** */
.expierence-article,
.staff-article {
	padding: 25px 0;
	background: linear-gradient(to bottom, #f1f1f1, #8aacb8);
}

.light__section {
	border-radius: 8px;
	background: #fff;
	overflow: hidden;
	display: flex;  
}


.section-left__block {
	float: left;
	display: block;
	width: 40%;
	background: #125e78;
	color: #fff;
	flex: 1;
}


/* ****** B&B ****** */
.expierence__title-main {
	display: block;
	padding: 70px 30px 20px;
	font-size: 30px;
	border-bottom: 1px solid #fff;
	width: 80%;
}

.activity-direction__wrap {
	padding: 30px 20px 30px 30px;
}





/* ****** ПРАВЫЙ БЛОК ****** */
.section-right__block {
	float: left;
	display: block;
	width: 60%;
	padding: 60px 30px 20px;
	color: #787878;
}

.expierence__text {
	color: #686868;
	margin-bottom: 10px;
	line-height: 20px;
}


.expierence-images__wrap {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	padding-right: 20px;
	margin: 25px 0;
}

.expierence__img {
	width: 100%;
	height: 100%;
}
.expierence__img:nth-child(3n+3) {
	margin-right: 0;
}










/* ****** СЕРВИСЫ ****** */

.services__wrap {
	background: #125e78;
	padding: 70px 0 40px 0;
	text-align: center;
	color: #fff;
}

.services__title {
	display: block;
	text-align: center;
	font-size: 2em;
}

.services__text {
	margin: 25px 0 40px;
	color: #98b8c5;
	padding: 0 30%;
}

.services__grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: 1fr;
	text-align: left;
}

.services__block {}

.services__text-wrap {
	padding: 20px 15px 15px;
}

.services__block:first-child .services__text-wrap,
.services__block:nth-child(3) .services__text-wrap {
	padding-top: 0;
}

.services__block:nth-child(6n+1) .services__text-wrap {
	padding-left: 0;
}

.services-block__title,
.expierence-block__title {
	font-weight: bold;
	margin-bottom: 25px;
	font-size: 1.3em;
}


.services__block img {
	width: 100%;
	height: 100%;
	display: block;
}

.services__list,
.expierence__list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: relative;
}
.services-list__element,
.expierence-list__element {
	padding-left: 10px;
	margin-bottom: 10px;
	color: #98b8c5;
	position: relative;
}

.services-list__element:before,
.expierence-list__element:before {
	content: '-';
	position: absolute;
	left: 0;
	top: 0;
}










/* ****** СПЕЦИАЛИСТЫ ****** */

.staff__wrap {
	min-height: 450px;
	display: grid;
	grid-template-columns: 4fr 6fr;
	grid-gap: 30px;
}

.staff-left__block,
.staff-right__block {
	background: #fff;
	border-radius: 8px;
	padding: 30px;
}

.staff__title {
	font-size: 1.3em;
	font-weight: bold;
	color: #000;
	display: block;
	margin-bottom: 20px;
}

.staff-blocks__wrap {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 50px;
}


.staff__block {
	text-align: center;
	color: #686868;
	font-size: .85em;
	cursor: pointer;
}

.staff-img {
	width: 85%;
	padding-bottom: 85%;
	display: inline-block;
	background: url('http://photocasa.ru/uploads/posts/2015-10/1444685949_dsc08577.jpg') center center;
	-webkit-background-size: cover;
	background-size: cover;
	border-radius: 50%;
}

.staff__block:hover .staff-img {
	-webkit-box-shadow: 0px 0px 1px 1px rgba(143,143,143,.3);
	   -moz-box-shadow: 0px 0px 1px 1px rgba(143,143,143,.3);
			box-shadow: 0px 0px 1px 1px rgba(143,143,143,.3);
}


.staff__name {
	margin: 25px 0 10px;
	font-weight: bold;
	color: #000;
	font-size: 13px;
}

.staff__info {
	margin-bottom: 10px;
}


.staff-right__block .staff-blocks__wrap {
	grid-template-columns: repeat(4, 1fr);
	margin-bottom: 40px;
}


/* ****** ПОДВАЛ САЙТА ****** */
footer {
	background: #125e78;
	color: #fff;
	padding: 25px 0;
}

.footer__top {
	display: block;
	width: 100%;
	overflow: hidden;
	margin-bottom: 40px;
}

.footer__title {
	font-size: 22px;
	margin-bottom: 20px;
}

address {
	float: left;
	margin-right: 10em;
	line-height: 2em;
}

address span:hover {
	text-decoration: underline;
	cursor: pointer;
}

footer .list-menu__link {
	padding: 0;
}

footer .list-menu__element {
	margin-right: 2em;
}














.widget__wrap {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.5);
	color: #fff;
	display: none;
	justify-content: center;
	align-items: center;
}


.widget__contact-info {
	background: #fff;
	border-radius: 8px;
	overflow: hidden;
	color: #686868;
	position: relative;
}

.widget__left,
.widget__right {
	float: left;
	width: 50%;
	min-width: 300px;
	text-align: center;
	min-height: 200px;
	padding: 2em 5em;
	position: relative;
	height: 400px;
}


.widget__left {
	background: #fff;
}


.widget__left:after {
	content: '';
	position: absolute;
    width: 0;
	height: 0;
	right: -20px;
	top: 0;
	z-index: 99;
	border-top: 400px solid #fff; 
	border-right: 40px solid transparent;
}

.widget__right {
	background: #d9d9d9;
}

.widget__right:after {
	content: '';
	position: absolute;
    width: 0;
	height: 0;
	left: -20px;
	top: 0;
	border-bottom: 400px solid #d9d9d9; 
	border-left: 40px solid transparent;
}



.widget__header {}

.widget__staff-img {
	overflow: hidden;
	width: 75%;
	padding-bottom: 75%;
	display: inline-block;
	background: url('http://photocasa.ru/uploads/posts/2015-10/1444685949_dsc08577.jpg') center center;
	-webkit-background-size: cover;
			background-size: cover;

	border-radius: 50%;
}

.widget__staff-name {
	color: #000;
	font-weight: bold;
	margin: 20px 0;
}


.widget__footer {
	margin-top: 40px;
}

.widget__footer-list {
	display: block;
}
.footer-list__element {
	display: block;
	margin-bottom: 15px;
	font-size: 1.3em;
}

.widget-ico {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: #ccc;
	position: relative;
	top: -3px;
	margin-right: 5px;
}


.widget__close-btn {
	position: absolute;
	right: 10px;
	top: 10px;
	height: 32px;
	width: 32px;
	border: 1px solid #767676;
	border-radius: 50%;
	cursor: pointer;
	opacity: 0.5;
}

.widget__close-btn:before, .widget__close-btn:after {
	position: absolute;
	right: 13px;
	top: 7px;
	content: ' ';
	height: 15px;
	width: 2px;
	background-color: #767676;
}
.widget__close-btn:before {
	transform: rotate(45deg);
}
.widget__close-btn:after {
	transform: rotate(-45deg);
}

.widget__close-btn:hover {
	border: 1px solid #767676;
	opacity: 1;
}
.widget__close-btn:hover:before, .widget__close-btn:hover:after {
	background-color: #767676;
}




/*second type of widget BUSINESS AND AND FINANAL MODELING */

.widget__company-info {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 2em;
	max-width: 75%;
	position: relative;
}

.widget-c__header {
	grid-column-start: 1;
	grid-column-end: 3;
}

.widget__c-left, .widget__c-right {
	color: #767676;
	background: #fff;
	border-radius: 8px;
	padding: 2em;
}