<%- include('layout/header'); %>

		<div class="main">
			<%- include('layout/menu__dark'); %>

			<div class="main-slider__wrap"></div>

			<%- include('layout/menu__light'); %>


			<div class="container">				
				<div class="main-content__wrap">
					<h1 class="main__title-red">О компании</h1>
					<p class="main__paragraphs">Компания МосОптЮвелир создана индивидуальным предпринимателем Пениным В.И, работает и динамично развивается на ювелирном рынке с 1999 года. Компания работает в самых разных направлениях ювелирного бизнеса. Основными направлениями являются розничная и оптовая торговля ювелирными изделиями. Также осуществляется прием изделий на комиссию, ремонт ювелирных изделий, изготовление ювелирных изделий на заказ, ломбард, скупка ювелирных изделий.</p>
					<p class="main__paragraphs">Представляем вашему вниманию широкий спектр ювелирных украшений. Мы работаем с более чем 80 производителями из России, а также с зарубежными поставщикам. Среди наших поставщиков такие производители, как Бронницкий ювелир, завод Красцветмет, ЮК Диамант, завод Sokolov, Красносельский ювелирный завод, Смоленский завод Кристалл, Московский завод спецсплавов, СанктПетербургский монетный двор, Ювелирный Дом Лаврухина и многие другие, а также представлены изделия таких брендов, как Адамас, Вальтера, МЮЗ.</p>
					<p class="main__paragraphs">Разнообразие изделий с натуральными драгоценными и полудрагоценными камнями приятно удивит самых притязательных клиентов. Гибкая система скидок, бонусы постоянным покупателям, подарки к дню рождения, молодожёнам, пенсионерам в виде дополнительных скидок. Индивидуальный подход к каждому посетителю и компетентность консультантов по любому вопросу.</p>
					<p class="main__paragraphs">Компания МосОптЮвелир рада видеть Вас в наших салонах!</p>
				</div>

			</div>
		</div>

<%- include('layout/footer'); %>
