<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	
	<style>
		li {
			list-style: none;
			margin-bottom: 10px;
		}
	</style>

</head>
<body>
	<ul>
		<li>Категории</li>
		<% data.categories.forEach(function (item) { %>
			<li>
				<input type="checkbox" name="<%= item %>">
				<%= item %>
			</li>
		<% });%>

		<li>Типы</li>
		<% data.types.forEach(function (item) { %>
			<li>
				<input type="checkbox" name="<%= item %>">
				<%= item %>
			</li>
		<% });%>
	</ul>
</body>
</html>