<%- include('layout/header'); %>

		<div class="main">
			<%- include('layout/menu__dark'); %>

			<div class="container">
				<div class="cubes__wraper">

					<div class="cubes__line-style1">
						<div class="cubes__block cubes__img-left">
							<a href="#"><img src="public/images/1.jpg" alt=""></a>
						</div>
						<div class="cubes__block">
							<a href="#"><img src="public/images/2.jpg" alt=""></a>
						</div>
						<div class="cubes__block">
							<a href="#"><img src="public/images/3.jpg" alt=""></a>
						</div>
					</div>

					<div class="cubes__line-style2">
						<div class="cubes__block cubes__img-center">
							<a href="#"><img src="public/images/4.jpg" alt=""></a>
						</div>
					</div>

					<div class="cubes__line-style3">
						<div class="cubes__block">
							<a href="#"><img src="public/images/5.jpg" alt=""></a>
						</div>
						<div class="cubes__block">
							<a href="#"><img src="public/images/6.jpg" alt=""></a>
						</div>
						<div class="cubes__block cubes__img-right">
							<a href="#"><img src="public/images/7.jpg" alt=""></a>
						</div>
					</div>
				</div>
			</div>
		</div>

<%- include('layout/footer'); %>
