$backgroundGradintGrey:	linear-gradient(to right, #3e3e3e, #444444);
$backgroundGradientRed: linear-gradient(to bottom, #7D0000, #940000);

$backgroundGrey:  #e5e5e5;
$backgroundLight: #F0F0F0;
$backgroundDark:  #262626;

$textGrey: 	rgb(56, 56, 56);
$textMain: 	#383838;
$textRed:  	#7f0000;
$textWhite: #fefefe;